<html>
<head>
<title>
SoccerBook
</title>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
</head>
<body>
<div id="app">
 <b-navbar toggleable="md" type="dark" variant="info">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand href="#">SoccerBook</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">

    <b-navbar-nav right>
      <b-nav-item href="#"  v-on:click="gotoplayerlist"  v-bind:disabled="playerListVisible" >List</b-nav-item>
      <b-nav-item href="#" v-on:click="gotoaddplayer"    v-bind:disabled="addPlayerVisible">Add player</b-nav-item>
    </b-navbar-nav>

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">

        <!-- 
      <b-nav-form>
        <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
        <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
      </b-nav-form>

      <b-nav-item-dropdown text="Sort by" right>
        <b-dropdown-item href="#">Last name</b-dropdown-item>
        <b-dropdown-item href="#">Nationality</b-dropdown-item>
        <b-dropdown-item href="#">Rating</b-dropdown-item>
      </b-nav-item-dropdown>
 -->

    
    </b-navbar-nav>

  </b-collapse>
</b-navbar>
<div id="playerList" v-if="playerListVisible">
    <b-card-group deck>
        <b-card 
        :title="player.firstname +' '+player.lastname" 
        v-for="player in playerlist" :key="player.id"
      
                v-bind:img-src="player.picUrl"
                img-alt="Img"
                img-top>
            <p class="card-text">
                <star-rating @rating-selected="player.rating = $event" :rating="player.rating" :star-size="25" :read-only="true" :show-rating="false"></star-rating>
                
            </p>
            <div slot="footer">
                <b-img width="30" height="20" v-bind:src="`https://www.ft.com/__origami/service/image/v2/images/raw/ftflag-v1:${player.nationality}?source=origami-registry&width=200`" alt="flag" />
            </div>
        </b-card>
    </b-card-group>
    </div>
	<div id="addPlayer" v-if="addPlayerVisible">
		add player here
	</div>
</div>
<script type="text/javascript">

function loadPlayers(){
	return [
		{
			id : new Date().getTime(),
			lastname : "Buffon",
			firstname : "Paul",
			picUrl : "https://cdn.24.co.za/files/Cms/General/d/7266/8e89a15d88ae41bd8ccaf79fbc5188b1.jpg",
			nationality : "IT",
			rating : 2,
		},
		{
			id : new Date().getTime(),
			lastname : "Neuer",
			firstname : "Manuel",
			picUrl : "https://www.welt.de/img/sport/fussball/bundesliga/fc-bayern-muenchen/mobile176038108/3252504107-ci102l-w1024/Manuel-Neuer.jpg",
			nationality : "DE",
			rating : 4,
		},
		{
			id : new Date().getTime(),
			lastname : "Özil",
			firstname : "Mesut",
			picUrl : "https://platform-static-files.s3.amazonaws.com/premierleague/photos/players/250x250/p37605.png",
			nationality : "DE",
			rating : 3,
		}
		
	]
}

var app = new Vue({
	  el: '#app',
	  data: {
		playerlist : loadPlayers(),  
	    message: 'Hello Vue!',
	    playerListVisible : true,
	    addPlayerVisible : false
	  },
	  methods: {
		  gotoaddplayer: function () {
		      this.playerListVisible = false
		      this.addPlayerVisible = true
		  },
		  gotoplayerlist: function () {
		      this.playerListVisible = true
		      this.addPlayerVisible = false
		  }
	  },
	  components:{
		    'star-rating': VueStarRating.default
		  }
	})


</script>
</body>
</html>
