<html>
<head>
<meta charset="utf-8"/>
<title>
SoccerBook
</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no">
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="favicon/site.webmanifest">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>

</head>
<body>
<div id="app">
 <b-navbar toggleable="md" type="dark" variant="info">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand href="#">SoccerBook</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">

    <b-navbar-nav right>
      <b-nav-item href="#"  v-on:click="gotoplayerlist"  v-bind:disabled="playerListVisible" >List</b-nav-item>
      <b-nav-item href="#" v-on:click="addPlayer"    v-bind:disabled="addPlayerVisible">Add player</b-nav-item>
    </b-navbar-nav>

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">

        <!-- 
      <b-nav-form>
        <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
        <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
      </b-nav-form>

      <b-nav-item-dropdown text="Sort by" right>
        <b-dropdown-item href="#">Last name</b-dropdown-item>
        <b-dropdown-item href="#">Nationality</b-dropdown-item>
        <b-dropdown-item href="#">Rating</b-dropdown-item>
      </b-nav-item-dropdown>
 -->

    
    </b-navbar-nav>

  </b-collapse>
</b-navbar>
<div id="playerList" v-if="playerListVisible">
    <b-card-group deck>
        <b-card 
        :title="player.firstname +' '+player.lastname" 
        v-for="player in playerlist" :key="player.id"
      
                v-bind:img-src="player.picUrl"
                img-alt="Img"
                img-top>
            <p class="card-text">
                <star-rating @rating-selected="player.rating = $event" :rating="parseInt(player.rating)" :star-size="25" :read-only="true" :show-rating="false"></star-rating>
                <br/>
                <b-button variant="primary" @click="editPlayer(player.id)">Edit</b-button>
            </p>
            <div slot="footer">
                <b-img width="30" height="20" v-bind:src="`https://www.ft.com/__origami/service/image/v2/images/raw/ftflag-v1:${player.nationality}?source=origami-registry&width=200`" alt="flag" />
            </div>
        </b-card>
    </b-card-group>
    </div>
	<div id="addPlayer" v-if="addPlayerVisible">
				  <b-form >
				      <b-form-group
				                    label="First Name:"
				                    label-for="firstname">
				        <b-form-input id="firstname" type="text" v-model="currentPlayer.firstname"></b-form-input>
				      </b-form-group>
				      <b-form-group
				                    label="Last Name:"
				                    label-for="lastname">
				        <b-form-input id="lastname" type="text" v-model="currentPlayer.lastname"></b-form-input>
				      </b-form-group>
				      <b-form-group
				                    label="Picture:"
				                    label-for="picUrl">
				        <b-form-input id="picUrl" type="url" v-model="currentPlayer.picUrl"></b-form-input>
				      </b-form-group>
				      <b-form-group
				                    label="Nationality:"
				                    label-for="nationality">
				        <b-form-input id="nationality" type="text" v-model="currentPlayer.nationality"></b-form-input>
				      </b-form-group>
				      <b-form-group
				                    label="Rating:"
				                    label-for="rating">
				        <b-form-input id="rating" type="number" v-model="currentPlayer.rating"></b-form-input>
				      </b-form-group>
				      <b-button  variant="danger" @click="onDelete" v-if="!currentPlayerisNew">Delete</b-button>
				      <b-button  variant="danger" @click="onReset">Cancel</b-button>
				      <b-button  variant="primary" @click="onSubmit">Submit</b-button>
				    </b-form>
	</div>
</div>
<script src="Soccerbook.js"></script>
</body>
</html>
